VITE_API_KEY= 'eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5MDhmNDllMDc0ZWE0ODFhNjRmYjYwN2U2YTExNmQ0NSIsIm5iZiI6MTczNzg1MjM0OS4xMjQsInN1YiI6IjY3OTU4NWJkN2MwOTAxNzRhZjE4NGM3YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.wnEHhGuGvjuT8gWzuBKi90G6hqdY_RV9la1-7qGCRaM'
